@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', 'Verdana', sans-serif; 
	color: #283044;
	width: 100vw;
	padding: 0;

	overflow-x: hidden;
}

table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	color: #EBECEE;
}
#navbar table td {

	text-align: center;
	color: #283044;
} 
#navbar table td {

	text-align: center;
	position: relative;
	color: #EBECEE;
}
#navbar table td:hover {
	color: #283044;
}

#navbar table td:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: "";
	color: transparent;
	width: 0%;
	height: 3%;
	background-color: #283044;

}
#navbar table td:after {
	transition: all 0.7s ease;
}

#navbar table td:hover:after {
	width: 50%;
}


#header {
	position: absolute;
	width: 100%;
	height: 20vh;

	left: 0;
	top: 0;
	font-size: 1.1em;

	background-color: #C95D63;

	box-shadow: 0px 10px  5px -5px #EEE;

}

#logo_container {
	position: absolute;
	height: 80%;
	width: 8%;
	top: 0;
	margin-top: 2vh;
}
#logo_container img {
	height: 100%;

}

#navbar {
	position: relative;
	width: 80%;
	height: 40%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6vh;

}
#stripe {
	position: absolute;
	width: 100%;
	height: 6%;
	bottom: 0;
	background-color: #EE8434;
}

#navbar table a {
	text-decoration: none;
	
}

#main {

	width: 80%;
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 5vh;

	box-shadow: 10px 10px 10px -6px #EEE, -10px 10px 10px -6px #EEE;
	
}

#content {
	width: 80%;
	
	margin-left: auto;
	margin-right: auto;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.subcontent {
	width: 95%;
	margin-left: 5%;
}
.img_large_center {
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img_med_center {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img_small_center {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img_xsmall_center {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p {
	line-height: 1.4em;
}
.normal_spacing {
	line-height: 1.4em;
}

hr {
	background-color: #EEE;
	border: 0;
	height: 2px;
}

a {
	color: inherit;
}
#main a {
	text-decoration: none;
}
#main a:hover {
	text-decoration: underline;
}

#footer {
	width: 104vw;
	height: 10vh;
	background-color: blue;
	margin-left: -2vw;
	margin-right: 2vw;
	bottom: 0;
}

ol {
	line-height: 2em;
}

.code {
	width: 100%;
}

.normal_table {
	color: #283044;
	font-size: 0.9em;

	border: 0.15em solid #283044;

	text-align: center;
}
.left_align {
	text-align: left;
}

.normal_table td {
	border: 0.15em solid #283044;
}

.code_text {
	font-family: monospace;
	background-color: #DDD;
}
.mono_text {
	font-family: monospace;
}